<!DOCTYPE html>
<head>
  <script>
    window.onload = async function() {
      let client = await fetch('<%- env.url %>/clients/<%- id %>').then(res=>res.json())
      let contracts = await fetch('<%- env.url %>/contracts?clientId=<%- id %>').then(res=>res.json())

      let name = document.getElementById("name")
      let contractList = document.getElementById("contracts")

      name.appendChild(document.createTextNode(`${client.name}`))

      contracts.forEach(e => {
        let item = document.createElement("dd")
        let link = document.createElement("a")
        let linkText = document.createTextNode(`- ${e.type} : ${e.startDate}`)

        link.setAttribute("href", `<%- env.url %>/contractSummary/${e.id}`)
        link.appendChild(linkText)
        item.appendChild(link)
        contractList.appendChild(item)
      })
    }
    
  </script>
</head>
<body>
  <a href="<%- env.url %>/">Employees</a>
  <a href="<%- env.url %>/clientList">Clients</a>
  <a href="<%- env.url %>/contractList">Contracts</a>

  <h1 id="name"></h1>
  <dl id="contracts">
    <dt>contracts:</dt>
  </dl>
</body>