<!DOCTYPE html>
<head> 
  <script>
    window.onload = async function() {
      let contracts = await fetch('<%- env.apiUrl %>/contracts').then(res=>res.json())
      let clients = await fetch('<%- env.apiUrl %>/clients').then(res=>res.json())
      let list = document.getElementById("list")

      clients.forEach(client => {
        let clientContracts = contracts.filter(e=>e.clientId==client.id)
        let contractList = document.createElement("dl")
        let listHeader = document.createElement("dt")
        listHeader.appendChild(document.createTextNode(`${client.name}`))
        contractList.appendChild(listHeader)
        
        clientContracts.forEach(e => {
          let item = document.createElement("dd")
          let link = document.createElement("a")
          let linkText = document.createTextNode(`${e.type} : ${e.startDate}`)
          
          link.setAttribute("onclick", `linkEmployee(${e.id}, ${client.id}, "${client.name}")`)
          link.setAttribute("href", "<%- env.url %>/employeeProfile/<%- employeeId %>")
          link.appendChild(linkText)
          item.appendChild(link)
          contractList.appendChild(item)
        })
        
        list.appendChild(contractList)
      })
    }

    function linkEmployee(contractId, clientId, clientName){
      fetch("<%- env.apiUrl %>/employees/<%- employeeId %>")
        .then(res=>res.json())
        .then(employee => {
          employee.history.push({
            contractId: contractId,
            clientId: clientId,
            name: clientName,
            role: "engineer"
          })

          fetch('<%- env.apiUrl %>/employees/<%- employeeId %>', { 
            method: 'PUT',  
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({history: employee.history})
          })
        })    
    }
  </script>
</head>
<body>
  <a href="<%- env.url %>/">Employees</a>
  <a href="<%- env.url %>/clientList">Clients</a>
  
  <div id="list"></div>
</body>