<!DOCTYPE html>
<head>
  <script>
    window.onload = () => {
      fetch('<%- env.apiUrl %>/employees/<%- id %>')
      .then(res=>res.json())
      .then(data=>{
        let user = data
        let name = document.getElementById("user")
        let history = document.getElementById("history")
        let github = document.getElementById("github")

        name.appendChild(document.createTextNode(`${user.name}`))

        github.setAttribute("href", `https://github.com/${user.github}`)
        github.appendChild(document.createTextNode(`${user.github}`))
        
        user.history.forEach(e=>{
          let item = document.createElement("dd")
          let link = document.createElement("a")
          let linkText = document.createTextNode(`- ${e.name} `)

          link.setAttribute("href", `<%- env.url %>/contractSummary/${e.contractId}`)
          link.appendChild(linkText)

          item.appendChild(link)
          history.appendChild(item)
        })
      })
    }

  </script>
</head>
<body>
  <a href="<%- env.url %>/">Employees</a>
  <a href="<%- env.url %>/clientList">Clients</a>

  <h1 id="user"></h1>
  github: <a id="github"></a><br>
  <button onclick="window.location.href='<%- env.url %>/contractList?id=<%- id %>'">Add Contract</button>
  <br>
  <dl id="history">
    <dt>History:</dt>
  </dl>
</body>